name: Terraform Workflow

on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          role-to-assume: arn:aws:iam::093429161426:role/imam
          aws_region: us-east-1

      - name: Initialize Terraform
        run: terraform init

      - name: Plan Terraform
        run: terraform plan
        
      - name: Apply Terraform Changes
        run: terraform apply -auto-approve
      
      #- name: Cleanup Terraform Files
       # run: terraform destroy -auto-approve
        
          
    